body {
  margin: 0;
}
a {
  text-decoration: none;
}

.paralex {
  animation: fade 500ms linear;
  /* transition: all 100ms ease-in; */
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
